.dialog-box {
    -fx-padding: 7 8 7 8;
}

.dialog-label {
    -fx-font-family: "SansSerif";
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-text-fill: #111111;
}

.user-label {
    -fx-text-fill: #D94A32;
    -fx-font-weight: bold;
}

.user-dialog {
    -fx-border-color: transparent transparent transparent #D94A32;
    -fx-border-width: 0 0 0 3px;
    -fx-padding: 7 8 7 10;
}
